 #search{
    margin-top: 10px;
    width: 350px;
    margin-left: 20px;
}


.container{
    margin: auto;
    
}

.search{
    float:left;
    margin-top: 10px;
    margin-right: 10px;

}

.filteredNames{
    margin-top: 10px;
    float: right;

}